body, #root {
  /* margin: 0; */
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6;
}

.loader-container{
  margin-top: 1%;
  text-align: center;
}

.main-logo{
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.searchCard{
  width: 30rem;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.poke-btn ,.poke-btn:hover, .poke-btn:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #ffffff;
}